<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Channel Analytics(Mrbeast)</title>
    <link rel="stylesheet" href="./static/styles.css">
    <script defer src="./static/script.js"></script>
</head>
<body>

    <nav>
        <div class="logo">
            <img src="../static/logo.png" alt="Logo">
        </div>
        <div class="header">Youtube Channel Analytics(Mrbeast)</div>
    </nav>

    <main>
        <div class="sidebar">
            <button class="dashboard_btn">
                Dashboard
            </button>
            
            <div class="lineDiv"></div>
            
            <button class="predictive_btn">
                Predictive Analysis
            </button>
        </div>

        <div class="parent" id="content">
            <!-- Default content for Dashboard will be loaded here -->
        </div>
    </main>

    <footer>
        <div class="typeOfGraph dashboard-graph">
            <button class="line">
                Line Graph
            </button>
            <button class="bar"> 
                Bar Graph
            </button>
            <button class="pie">
                Pie Graph
            </button>
        </div>
        <div class="typeOfGraph predictive-graph" style="display: none;">
            <button class="line">
                Line Graph
            </button>
            <button class="bar"> 
                Bar Graph
            </button>
            <button class="pie">
                Pie Graph
            </button>
        </div>
    </footer>
</body>
</html>
